<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <hr>
            <h3>
                <ul>
                    <ol><a href = "{{ url_for('show_all_clientes') }}">Lista de Clientes</a></ol>
                    <ol><a href = "{{ url_for('show_all_proprietarios') }}">Lista de Proprietarios</a></ol>
                    <ol><a href = "{{ url_for('show_all_imoveis') }}">Lista de Imoveis</a></ol>
                    <ol><a href = "{{ url_for('show_all_corretores') }}">Lista de Corretores</a></ol>
                    <ol><a href = "{{ url_for('show_all_contratos') }}">Lista de Contratos</a></ol>
                </ul>
            </h3>
        </hr>
        <h3><a href='/'>SAIR</a></h3>
    </body>
</html>
