<!DOCTYPE html>
<html>
    <body>
        <h3>Cadastro de Cliente</h3>
        <hr/>
        
        {%- for category, message in get_flashed_messages(with_categories = true) %}
            <div class = "alert alert-danger">
                {{ message }}
            </div>
        {%- endfor %}

        <form action = "" method = "POST">
            <input type="hidden" name="id" value="{{cliente.id}}"/><br>
            <input type="text" name="nome" placeholder="Nome e Sobrenome" value="{{cliente.nome}}" /><br>
            <input type="text" name ="endereco" placeholder ="Rua..., Cidade..., CEP..." value="{{cliente.endereco}}"/><br>
            <input type="date" name ="data_nascimento" placeholder ="XX/XX/XXXX" value="{{cliente.data_nascimento}}"/><br>
            <input type="email" name ="email" placeholder ="@...mail..." value="{{cliente.email}}"/><br>
            <input type="tel" name="fone" placeholder="Celular: XX-XXXXX-XXXX" value="{{cliente.fone}}" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}"/><br>
            <input type="text" name ="doc_identidade" placeholder ="Documento de identidade" value="{{cliente.doc_identidade}}"/><br>
            <input type="integer" name="cpf" placeholder="CPF (somente numeros)" value="{{cliente.cpf}}"/><br>
            <input type="text" name ="fiador" placeholder ="Fiador do cliente" value="{{cliente.fiador}}"/><br>
            <input type="submit" value="Atualizar"/>
        </form>
        <h3>
            <a href = "{{ url_for('show_all_clientes') }}">Voltar para Lista</a>
        </h3>
    </body>
</html>