################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Documents/High Tech Talents/FlaskWeb-High_Tech_Talents/High_Tech-FlaskWeb/High_Tech-FlaskWeb/env1
