<!DOCTYPE html>
<html>
   <body>
      <h3>Cadastro de Corretor</h3>
      <hr/>
      
      {%- for category, message in get_flashed_messages(with_categories = true) %}
         <div class = "alert alert-danger">
            {{ message }}
         </div>
      {%- endfor %}

      <form action = "{{ request.path }}" method = "post">
         <label for = "nome">Nome</label><br>
         <input type="text" name="nome" placeholder="Nome" /><br>
         <label for = "endereco">Endereço</label><br>
         <input type="text" name ="endereco" placeholder ="Rua...nº...,Bairro..."/><br>
         <label for="fone">FONE</label><br>
         <input type="tel" name="fone" placeholder="XX-XXXXX-XXXX" pattern="[0-9]{2}-[0-9]{5}-[0-9]{4}"/><br>        
         <label for = "email">Email</label><br>
         <input type="email" name ="email" placeholder ="@...mail..."/><br>
         <label for = "doc_identidade">Documento de Identidade</label><br>
         <input type="text" name ="doc_identidade" placeholder ="Documento de Identidade"/><br>
         <label for="cpf">CPF</label><br>
         <input type="integer" name="cpf" placeholder="XXXXXXXXXXX"/><br>
         <label for = "nivel">Nivel do Corretor. Selecione:</label><br>
         <select name="nivel">
            <option value="Corretor Master">Corretor Master</option>
            <option value="Corretor Senior" selected>Corretor Senior</option>
            <option value="Corretor Junior">Corretor Junior</option>
         </select><br>
         <label for = "data_ent_imobil">Data de Entrada na Imobiliaria</label><br>
         <input type="date" name ="data_ent_imobil" placeholder ="XX/XX/XXXX"/><br>
         <input type="submit" value="Inserir" />
      </form>
      <h3>
         <a href = "{{ url_for('show_all_corretores') }}">Voltar para Lista</a>
      </h3>
   </body>
</html>
