<!DOCTYPE html>
<html lang = "en">
    <head></head>
    <body>
        <hr>
            <h3><a href = "{{ url_for('show_all_clientes') }}">Lista de Clientes</a><br>
                <a href = "{{ url_for('show_all_proprietarios') }}">Lista de Proprietarios</a><br>
                <a href = "{{ url_for('show_all_imoveis') }}">Lista de Imoveis</a><br>
                <a href = "{{ url_for('show_all_contratos') }}">Lista de Contratos</a><br>
                <a href = "{{ url_for('menu') }}">Menu Iniciar</a><br>
            </h3>
        </hr>
        {%- for message in get_flashed_messages() %}
            {{ message }}
        {%- endfor %}
		
        <h3>Corretores (<a href = "{{ url_for('new_corretor') }}">Cadastrar Novo Corretor</a>)</h3>
        <h2>Lista de Corretores</h2>
        <hr>
            <table border="4">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Endereco</th>
                        <th>Fone</th>
                        <th>Email</th>
                        <th>Documento de Identidade</th>
                        <th>CPF</th>
                        <th>Nivel</th>
                        <th>Data Entrada na Imobiliaria</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for corretor in corretores %}
                        <tr>
                            <td><input type="hidden" name="id" enabled="false" value="{{ corretor.id }}"></td> 
                            <td>{{ corretor.nome }}</td>
                            <td>{{ corretor.endereco }}</td>                       
                            <td>{{ corretor.fone }}</td>
                            <td>{{ corretor.email }}</td>
                            <td>{{ corretor.doc_identidade }}</td>
                            <td>{{ corretor.cpf }}</td>
                            <td>{{ corretor.nivel }}</td>
                            <td>{{ corretor.data_ent_imobil }}</td>
                            <th><a href="{{ url_for('update_corretor', id=corretor.id) }}">Editar</a></th>
                            <td><a href="/excluir_corretor/{{ corretor.id }}">Excluir</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        <h3><a href="/">SAIR</a></h3>
        </hr>
    </body>
</html>