<!DOCTYPE html>
<html lang = "en">
    <head></head>
    <body>
        <hr>
            <h3>
                <a href = "{{ url_for('show_all_proprietarios') }}">Lista de Proprietarios</a><br>
                <a href = "{{ url_for('show_all_imoveis') }}">Lista de Imoveis</a><br>
                <a href = "{{ url_for('show_all_corretores') }}">Lista de Corretores</a><br>
                <a href = "{{ url_for('show_all_contratos') }}">Lista de Contratos</a><br>
                <a href = "{{ url_for('menu') }}">Menu Iniciar</a><br>
            </h3>
        </hr>
        {%- for message in get_flashed_messages() %}
            {{ message }}
        {%- endfor %}
		
        <h3>Clientes (<a href = "{{ url_for('new_cliente') }}">Cadastrar Novo Cliente</a>)</h3>
        <h2>Lista de Clientes</h2>
        <hr>
            <table border="4">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nome</th>
                        <th>Endereco</th>
                        <th>Data Nascimento</th>
                        <th>Email</th>
                        <th>Fone</th>
                        <th>Documento de Identidade</th>
                        <th>CPF</th>
                        <th>Fiador</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for cliente in clientes %}
                        <tr>
                            <td><input type="hidden" name="id" enabled="false" value="{{ cliente.id }}"></td> 
                            <td>{{ cliente.nome }}</td>
                            <td>{{ cliente.endereco }}</td>
                            <td>{{ cliente.data_nascimento }}</td>
                            <td>{{ cliente.email }}</td>
                            <td>{{ cliente.fone }}</td>
                            <td>{{ cliente.doc_identidade }}</td>
                            <td>{{ cliente.cpf }}</td>
                            <td>{{ cliente.fiador }}</td>
                            <th><a href="{{ url_for('update_cliente', id=cliente.id) }}">Editar</a></th>
                            <td><a href="/excluir_cliente/{{ cliente.id }}">Excluir</a></th>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </hr>
        <h3><a href="/">SAIR</a></h3>
    </body>
</html>